body {
    background-color: #EFEFEF;
}

#tela {
    background-color: rgb(34,139,34);
    max-width: 100%;
    max-height: 100%;
}

.button {
    color: white;
    background-color: #278E37;
    max-width: 200px;
    max-height: 200px;
}

.butt {
    width: 100%;
}